<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia App</title>
</head>
<body>
    <h1>Trivia App</h1>
    <form method="post">
        <label for="amount">Number of Questions:</label>
        <input type="number" name="amount" required>
        <br>
        <label for="category">Category:</label>
        <select name="category" required>
            {% for num, name in categories.items() %}
                <option value="{{ num }}">{{ name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="difficulty">Difficulty:</label>
        <select name="difficulty" required>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <br>
        <label for="q_type">Question Type:</label>
        <select name="q_type" required>
            <option value="multiple">Multiple Choice</option>
            <option value="boolean">True/False</option>
        </select>
        <br>
        <button type="submit">Get Questions</button>
    </form>

    {% if questions %}
        <h2>Questions:</h2>
        <form method="post">
            {% for question_data in questions %}
                {% set question_index = loop.index %}
                <p>{{ question_data['question'] }}</p>
                <ul>
                    {% for answer in question_data['answers'] %}
                        <li>
                            <input type="radio" id="answer_{{ question_data['index'] }}_{{ question_index }}_{{ loop.index }}" name="answer_{{ question_data['index'] }}" value="{{ loop.index }}">
<label for="answer_{{ question_data['index'] }}_{{ question_index }}_{{ loop.index }}">{{ answer }}</label>
                        </li>
                    {% endfor %}
                </ul>
                <input type="hidden" name="question_index_{{ question_data['index'] }}" value="{{ question_data['index'] }}">
            {% endfor %}
            <button type="submit">Submit Answers</button>
        </form>
    {% endif %}
</body>
</html>
