<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in with your name</title>
    
    <p>Set Info Page:</p>
    <p>You chose {{ selected_set[1] }}.</p>
    <p>Select a Card Name:</p>
        <p>
            <form action = "/set" method = "POST">
                <select name="selected_card">
                    {% for card_name in selected_cards %}
                    <option value="{{ card_name }}">{{ card_name }}</option>
                    {% endfor %}
                </select>
                <p><input type = "submit" value = "submit"></p>
            </form>
        </p>
</head>
<body>

</body>
</html>